
 <div class="body">
     <div class="header">
       <ul>
         <li> <a routerLink = "opportunity">opportunity</a></li>
         <li><a routerLink = "vision">vision</a></li>
         <li><a routerLink = "story">story</a></li>
         <li><a routerLink = "model">model</a></li>
      
         <li><a routerLink = "team">team</a></li>
         <li><a routerLink = "currentwork">Current Work</a></li>
       
        
       </ul>
     </div>
    
     <router-outlet class="about-window"></router-outlet>
   </div>
  
