<div class="about-story">
    <h3>Our Story</h3>
    <p>Indigenous Sustainability Field Schools (ISFS) build upon 20 years of successful operations of the <a href="https://www.andes-fieldschool.org/">Andes and Amazon Field School</a> in Ecuador teaching indigenous language and culture.                         We are currently implementing a ISFS pilot in the Waorani community of Gomatan (at the Curaray drainage of Napo-Amazon basin).This pilot is allowing us to test the model and demonstrate its capacity to make indigenous communities more sustainable. Basic infrastructure to host students will be ready in the Summer of 2019, while language materials to teach Waorani and Achuar are currently being developed.We are seeking support to scale the ISFS model worldwide.
         </p>
</div>