
<div class="about-work">
     <h3>Current Work</h3>
     <p>We are assessing the viability of the ISFS model in two Waorani and two Achuar communities. We have prepared and signed collaboration agreements with one of these communities, and pilot-tested the SFS model. We are currently seeking funds to support full commercialization in the Waorani communities, prepare the scaling-up phase, and add new partners to our team.
          </p>
     <div>
               <h4>The Waorani</h4>
               <div>
                    <h3>Gomatan</h3>
               </div>
               <div>
                         <h3>Geyepade</h3>
               </div>
     </div>
     <div>
          <h4>The Achuar</h4>
     </div>
     <div>
               <h4>Teaching Materials</h4>
          </div>
     
          
</div>