<div class="about-model">
          <h3>Our Model</h3>
          <p>Our model is distinctive due to the following three elements: </p>
               <!--4.1-->
               <div>
                         <h4>Kinship Ties</h4>
                         <p>ISFS relies on community kinship relations to offer immersive education in indigenous language and
                                   bioculture, while at the same time training and employing indigenous people in scientific data collection. The kinship component of the model reduces internal conflicts, which is a common cause of failure in community-based projects.
                                   </p>
                              <div class="img">
                                        <img src = "../../../assets/IMG_1.jpeg" alt="kinship-image"/>
                              </div>
                              
               </div>
               <!--4.2-->
               <div>
                         <h4>Boundary Organization</h4>
                         <p>Our model bridges four actors/sectors that are crucial for global sustainability, but rarely engaged with: indigenous communities, the global education industry, family businesses, and research institutions. We coordinate and bridge across these four sectors through innovative networking solutions.
                              </p>
                         <p>At the center of the ISFS business model are boundary organizations capable of bridging indigenous communities with international students. Boundary organization hold legitimacy, salience and credibility in both sides of the boundary.
                              </p>

                                   <div class="img">
                                        <img src = "../../../assets/IMG_2.jpeg" alt="boundary-organication-image"/>
                                   </div>
               </div>

               <!--4.3-->
               <div>
                         <h4>Organic Growth</h4>
                         <p>Our business model is not mechanical, but organic. it cannot be replicated following a formula, but it requires the nurturing human relationships.
                              </p>
                         
               </div>
          
          
</div>