<div class="home">
    <div class="landing">
        <h1 id="landing-title">Indigenous Sustainability Field Schools</h1>
    </div>
    <div class="carousel">


    </div>
    <div class="work">
        <h1>OUR WORK</h1>
        <div id="project"> 
           <ul>
            <li *ngFor="let project of projects"><img src="../../assets/DSC_0069.JPG"></li>
           </ul>
        </div>
    </div>
    <div class="mission-holder">
        <div class="mission">
            <h1>Mission</h1>
            <h2>Conserving Biodiversity in indigenous lands through bio-cultural technologies</h2>
            <h4>Edit this text to make it your own. To edit, simply click directly on the text and start typing. You can move the text by dragging and dropping the Text Element anywhere on the page. Break up your text with more than one paragraph for better readability.</h4>
        </div>
    </div>
    <div class="location">
        <h1>Map</h1>
        <img src="../../assets/Waorani Map.jpg" alt="map" />
    </div>
</div>