<div class="about">
        <!-- <table  border="1">
            <tr align="center   ">
                 <th align="center">OUR STORY</th>
            </tr>
            <tr style="width:100%" >
                <td style="width:45%" >Edit this text to make it your own. To edit, simply click directly on the text and start typing. You can move the text by dragging and dropping the Text Element anywhere on the page</td>
                <td style="width:45%">Edit this text to make it your own. To edit, simply click directly on the text and start typing. You can move the text by dragging and dropping the Text Element anywhere on the page</td>
             </tr>
            <tr>
                 <td style="width:100%">The team</td>
            </tr>
            <tr>
                <td style="width:33%">person 1</td>
                <td style="width:33%">person 1</td>
                <td  style="width:33%">person 1</td>
            </tr>
            <tr>
                 <td  style="width:33%">​Edit this text to make it your own. To edit, simply click directly on the text and start typing. You can move the text by dragging and dropping the Text Element anywhere on the page. Break up your text with more than one paragraph for better readability.</td>
                 <td  style="width:33%">​Edit this text to make it your own. To edit, simply click directly on the text and start typing. You can move the text by dragging and dropping the Text Element anywhere on the page. Break up your text with more than one paragraph for better readability.</td>
                 <td  style="width:33%"> ​Edit this text to make it your own. To edit, simply click directly on the text and start typing. You can move the text by dragging and dropping the Text Element anywhere on the page. Break up your text with more than one paragraph for better readability.</td>
          
             </tr>
        </table> -->

        <div class="subheader">
          <ul>
            <li> <a routerLink = "opportunity">The Opportunity</a></li>
            <li><a routerLink = "vision">Vision</a></li>
           <!--<li><a routerLink = "app-currentwork">Current Work</a></li>>--> 
            <li><a routerLink = "model">Our Model</a></li>
            <li><a routerLink = "team">Teams and Partners</a></li>
            <li><a routerLink = "work">Current Work</a></li>
           
          </ul>
        </div>
        <h1 class="page-heading">About</h1>
        <router-outlet class="about-window"></router-outlet>
        
        <div class="about-content">
          <div>
                    <h3>The Opportunity</h3>
                   
          </div>
         
          <div>
                    <h3>Vision</h3>
          </div>
          
         
          <div>
                    <h3>Our Story</h3>
                    <p>Indigenous Sustainability Field Schools (ISFS) build upon 20 years of successful operations of the <a href="https://www.andes-fieldschool.org/">Andes and Amazon Field School</a> in Ecuador teaching indigenous language and culture.                         We are currently implementing a ISFS pilot in the Waorani community of Gomatan (at the Curaray drainage of Napo-Amazon basin).This pilot is allowing us to test the model and demonstrate its capacity to make indigenous communities more sustainable. Basic infrastructure to host students will be ready in the Summer of 2019, while language materials to teach Waorani and Achuar are currently being developed.We are seeking support to scale the ISFS model worldwide.
                         </p>
          </div>
          <div>
                    <h3>Our Model</h3>
                    <p>Our model is distinctive due to the following three elements: </p>
                         <!--4.1-->
                         <div>
                                   <h4>Kinship Ties</h4>
                                   <p>ISFS relies on community kinship relations to offer immersive education in indigenous language and
                                             bioculture, while at the same time training and employing indigenous people in scientific data collection. The kinship component of the model reduces internal conflicts, which is a common cause of failure in community-based projects.
                                             </p>
                                        <div class="img">
                                                  <img src = "../../assets/IMG_1.jpeg" alt="kinship-image"/>
                                        </div>
                                        
                         </div>
                         <!--4.2-->
                         <div>
                                   <h4>Boundary Organization</h4>
                                   <p>Our model bridges four actors/sectors that are crucial for global sustainability, but rarely engaged with: indigenous communities, the global education industry, family businesses, and research institutions. We coordinate and bridge across these four sectors through innovative networking solutions.
                                        </p>
                                   <p>At the center of the ISFS business model are boundary organizations capable of bridging indigenous communities with international students. Boundary organization hold legitimacy, salience and credibility in both sides of the boundary.
                                        </p>

                                         <div class="img">
                                                  <img src = "../../assets/IMG_2.jpeg" alt="boundary-organication-image"/>
                                         </div>
                         </div>

                         <!--4.3-->
                         <div>
                                   <h4>Organic Growth</h4>
                                   <p>Our business model is not mechanical, but organic. it cannot be replicated following a formula, but it requires the nurturing human relationships.
                                        </p>
                                   
                         </div>
                   
                    
          </div>
          <div>
               <h3>Teams and Partners</h3>
               <img src = "../../assets/DSC_3.JPG" alt="team-image"/>
                <!--5.1-->
                <div>
                         <h4> Andes and Amazon Field School</h4>
                         
                         <p>The Andes and Amazon Field School (Iyarina) is leading the scaling of ISFS in the Ecuadorian Amazon. This organization provides decades of experience as a broker between international students and indigenous people. Investments for scaling within Ecuador are managed  by Iyarina, including reinvestments coming from student fees. Iyarina’s experience guarantees  the quality and scope of the education services provided.
                              </p>
                         <p>The Andes and Amazon Field School (AAFS) is an LLC registered in Arizona closely tied to an Ecuadorian sister LLC, Iyarina Limitada.“The mission of AAFS is to provide quality in-country education on the Ecuadorian Amazon in a safe and comfortable setting.  Each summer we bring together a top group of academic and indigenous experts for 8 weeks of learning and research.  AAFS provides employment and training to indigenous people that is compatible with the preservation of their culture and environment. It also trains undergraduate and graduate students to work with these communities.</p>
                         <p>Since 1999 it has provided Amazonian Quichua and Shuar language training to 156 graduate FLAS Fellows (Title VI Foreign Language and Area Studies Fellowships) from 38 universities.  Many of these alumni are now working at the intersection of Amazonian culture and environment partnering with indigenous leaders they met at the field school. Located in an Amazonian Quichua community, AAFS has a vital network of indigenous leaders as well as non-indigenous academics in Ecuador who will help us carry out the project. After 20 years of building interpersonal-intercultural relationships between indigenous and non-indigenous people, the AAFS is well positioned to commercialize the model beyond the Quechuan context.</p>
               </div>
               <!--5.2-->
               <div>
                         <h4>Global Consortium for Sustainability Outcomes</h4>
                         
                         <p>The Global Consortium for Sustainability Outcomes (GCSO) is leading  the scaling of ISFS worldwide.</p>
                         <p>GCSO focuses on co-developing and testing potential solutions to urgent sustainability problems. It is a global network operating under the umbrella of Arizona State University Foundation. Its members include 12 major universities, research institutes, and corporate sponsors committed to transform ideas into action through research, development and capacity building. These institutions have the research, development, innovation and capacity-building talent to develop timely, affordable and scalable solutions that could result in desirable sustainability outcomes. GCSO generates and tests a wide range of solutions including technologies, policies, economic incentives, social change and cultural practices. 
                              </p>   
                         <p>In Ecuador, the GCSO ensures that potential students become aware of the advantages of the model, and that new investors and donors consider the model’s performance and its potential for scaling beyond the Waorani. GCSO is key to leverage the ISFS model within its network of universities, investors, donors, and the study-abroad industry.
                              </p> 
               </div>
               <!--5.3-->
               <div>
                    <h4>TourCert</h4>
                    <p>TourCert Ecuador S.A. is a branch of TourCert, a non-profit German alliance that uses certification processes as a tool to promote sustainable tourism globally. It is integrated by 4 non-profit organizations seeking to promote sustainable development: Kate: Ecology and Development, Friends of Nature, Sustainable Development University (Eberswalde), and Tourism Watch. TourCert is integrated into the Global Council of Sustainable Tourism. It conducts rigorous analyses of tourism activities to assess their sustainability, set priorities and monitor progress though internationally established criteria and management norms. TourCert grants its own “TourCert certification of sustainability and responsibility” to tourism businesses and destinations.</p>
               </div>
          </div>
          <div>
               <h3>Current Work</h3>
               <p>We are assessing the viability of the ISFS model in two Waorani and two Achuar communities. We have prepared and signed collaboration agreements with one of these communities, and pilot-tested the SFS model. We are currently seeking funds to support full commercialization in the Waorani communities, prepare the scaling-up phase, and add new partners to our team.
                    </p>
               <div>
                         <h4>The Waorani</h4>
                         <div>
                              <h3>Gomatan</h3>
                         </div>
                         <div>
                                   <h3>Geyepade</h3>
                         </div>
               </div>
               <div>
                    <h4>The Achuar</h4>
               </div>
               <div>
                         <h4>Teaching Materials</h4>
                    </div>
               
                    
          </div>


        </div>
     </div>